* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1{
    background-color: #000;
    color: #ffffff;
}

a{
    font-weight: bold;
    color: blue;
    text-decoration: none;
    line-height: 2rem;
    border-bottom: 1px solid;
}

a:hover{
    border-bottom: 2px solid;
}